# Unity
client/Library/
client/Temp/
client/obj/
client/Builds/
client/Logs/
client/UserSettings/
client/.vsconfig

# Go
server/bin/
server/tmp/

# Firebase
server/firebase-service-account.json
client/Assets/google-services.json
client/Assets/GoogleService-Info.plist

# Env
.env
*.env

# OS
Thumbs.db
.DS_Store